@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table {
  min-width: 700px !important;
}

.tableContainer {
  width: inherit !important;
}

.box {
  height: calc(100vh - 280px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  background-color: #fff;
  border-radius: 4px;
}
